body{
  font-family: 'Inconsolata';
}

.borderTop{
  display: flex;
  background: #000;
  width: 100%;
  height: 60px;
}

.logo{
  display:flex;
  align-items: center;
  margin: auto;
}

.borderLeft{
  position: fixed;
  background: #000;
  width: 5%;
  height: 100vh;
}

.castPhotos{
  display: flex;  
}

.person{
  display: flex;
  align-items: column;
  width: 25%;
  height: 50%;
}

.buttons{
  display: flex;
  margin: auto;
}

.bottomNavButton{
  background: none;
  border: none;
  padding: 0!;
  color: #fff;
  font-size: 26px;
  font-family: 'Inconsolata';
  cursor: pointer;
}

.bottomNavButton:hover{
  text-decoration: underline;
}

.borderRight{
  position: fixed;
  right: 8px;
  background: #000;
  width: 5%;
  height: 100vh;
}

.borderBottom{
  bottom: 0;
  display: flex;
  background: #000;
  width: 100%;
  height: 60px;
}