
@import "style.css"; 

.cast{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.person{
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 25%;
}

break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}




