@import "style.css"; 

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: calc(100vw - 20%);
  margin-left: 10%;
  box-sizing: border-box;
}

#homeText{
  font-size: 32px; 
}

#showText{
  font-size: 28px; 
}

img {
  max-width: 60%;
  height: auto;
}

/* tablet */
@media only screen and (max-width : 780px) {
 /* ADD RESIZE */

  #homeText{
    font-size: 26px; 
  }
  
  #showText{
    font-size: 18px; 
  }

}


/* mobile */
@media only screen and (max-width : 480px) {
  /* ADD RESIZE */

  .content{
    margin-left: 12%;
  }

  #homeText{
    font-size: 30px; 
  }
  
  #showText{
    font-size: 26px; 
  }

}
